:root {
  --rose: #f1c4c4;
  --rose-lite: #f5d6a8;
  --stem: #2b3f2f;
  --stem-lite: #73947a;
  --neutral: #c0c5a6;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}


.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  width: 100%;
  margin: 0 auto;
  display: flex;
  min-height: 400px;
  margin-bottom: 24px;
}
.half {
  width: 50%;
  height: auto;
  display: flex;
  min-width: 300px;
  border: solid blue;
  flex: 0 0 50%;
}

h1, h2, h3, h4, h5 {
  font-family: "Staatliches", sans-serif;
  font-weight: 400;
  font-style: normal;
}
p, span {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
}
@media screen and (max-width: 768px) {
  #splash .container{
    flex-direction: column;
    height: auto;
  }
  .half {
    width: 100%;
  }
}